 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
        font-family: Arial, sans-serif;
        background-color: #b0d4f7;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 250px;
    height: 390px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 25px 40px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.card img{
    border-radius:15px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.text h1{
    font-size: 15px;
    color: #1f3251;
    margin-bottom: 4px;
    font-weight: 800;
}
.text p{
    font-size: 12px;
    color: #7b899e;
    line-height: 1.5;
    margin:9px;
}

@media (max-width:26.25em){
    body{
        box-sizing: border-box;
        padding: 20px;
    }
    .card{
        box-shadow: 0 15px 25px rgba(0,0,0,0.12);
        
    }
    .card img{
        width: 100%;
    }
}
@media (min-width: 50em){
    .card{
        width: 300px;
        height: 450px;
    }
    .text h1{
        font-size: 18px;
    }
    .text p{
        font-size: 14px;
    }
}